[Desktop Entry]
Version=1.0
Name=Google Translate
Comment=Google Translate
Exec=omarchy-launch-webapp https://translate.google.com/u/2
Terminal=false
Type=Application
Icon=/home/arc/.local/share/applications/icons/Google Translate.png
StartupNotify=true