[Desktop Entry]
Version=1.0
Name=Homepage
Comment=Homepage
Exec=omarchy-launch-webapp https://homepage.arcbjorn.com
Terminal=false
Type=Application
Icon=/home/arc/.local/share/applications/icons/Homepage.png
StartupNotify=true
