[Desktop Entry]
Version=1.0
Name=Lumo Quick Helper
Comment=Lumo Quick Helper
Exec=omarchy-launch-webapp https://lumo.proton.me/u/1/
Terminal=false
Type=Application
Icon=/home/arc/.local/share/applications/icons/Lumo Quick Helper.png
StartupNotify=true
